<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>

<servlet>
    <servlet-name>HtmltotxtServlet</servlet-name>
    <servlet-class>jp.gr.java_conf.mackey.HtmltotextServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HtmltotxtServlet</servlet-name>
    <url-pattern>/htmltotxt</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>ZipperServlet</servlet-name>
    <servlet-class>jp.gr.java_conf.mackey.ZipperServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ZipperServlet</servlet-name>
    <url-pattern>/zipper</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>jp.gr.java_conf.mackey.DownloadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloader</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>UploadurlServlet</servlet-name>
    <servlet-class>jp.gr.java_conf.mackey.UploadurlServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadurlServlet</servlet-name>
    <url-pattern>/uploadurl</url-pattern>
  </servlet-mapping>


 <servlet>
    <servlet-name>DeleterServlet</servlet-name>
    <servlet-class>jp.gr.java_conf.mackey.DeleterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DeleterServlet</servlet-name>
    <url-pattern>/deleter</url-pattern>
  </servlet-mapping>

</web-app>